In [1]:
import numpy as np

In [4]:
# complex data is important in python
x=complex(1,2)

In [3]:
x

(1+2j)

In [7]:
# tuble
x=(1,2)
# or 
x=1,2
# are the same

In [10]:
# tuble is immutable, i.e. can not be change after create
x=1,2
# x[1]=0 # will return error
#but if 
x=[1,2]
x[1]=3 # works

In [13]:
# tuple or list can be unpacked
x_1,x_2 = x
x_1

1

In [22]:
x_3 = zip("abc","efghjk") # until one input is exhausted

In [23]:
list(x_3)

[('a', 'e'), ('b', 'f'), ('c', 'g')]

In [24]:
a=[1,2,3,4]

In [36]:
print(a[-1]) # dees not like R, [-1] mean start form the right
print(a[1:]) #
print(a[1:3]) # without 3
print(a[-2:-1])

4
[2, 3, 4]
[2, 3]
[3]

In [48]:
# dictionary
d={'name':'Frodo', 'age':'33'}
print(d['age'])
print(type(d))

33
<class 'dict'>

In [58]:
# "set" is different from "dict"
s1={'s','d'}
print(s1)
print(type(s1))
s2={'s','c','d','g'}
print(s1.issubset(s2))
print(s1.intersection(s2))
# set() function create set from sequence
s3=set(("s","f","h"))
print(s3)
s4=set(['s','g','h'])
print(s4)

{'d', 's'}
<class 'set'>
True
{'d', 's'}
{'f', 's', 'h'}
{'s', 'h', 'g'}

In [59]:
%%file newfile.py
print("ss")

Writing newfile.py

In [60]:
# open and write files
f = open('newfile.py','w') # open a newfile.txt for writing
f.write('testing\n')
f.write('testing again')
f.close()

In [61]:
%pwd

'/Users/lijun/Downloads/Quantecon_lecture'

In [64]:
# open but just read file
f = open('newfile.py', 'r')
out = f.read()
out

'testing\ntesting again'

In [65]:
print(out)

testing
testing again

you can not add any "#" before %%....

In [70]:
%%file us_cities.txt 
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

In [75]:
data_file = open('us_cities.txt','r')
for line in data_file: # iterable on each row, and each row is 'str'
    city, population = line.split(':') # can split str
    city = city.title()
    population = f'{int(population):,}'
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [76]:
# zip
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [77]:
# zip can be used to creaete dictionary
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [87]:
type(dict({'1':'3','2':'5'}))

dict

In [86]:
type({'1':'3',"2":"5"})

dict

In [88]:
# what if we need the index for a list? use enumerate
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list): # work for the case that index is not from 1 to n
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [89]:
# list comprehension
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [96]:
# condition
x= 'yes' if 42 else "no"
x

'yes'

In [97]:
x = 'yes' if [] else 'no' # when the condition is empty list, container, sequence and None, it is equivalent to False
x

'no'

In [98]:
# multiple condition use $ or | to connect
a=100
if a>10 & a<101:
    print('year')

year

In [99]:
# not True is False, not not True is True

In [106]:
# function terminate when the first 'return' is hit
def f(x):
    if x < 0:
        """
        this is call docstring. just like comment but can be read when you use "?"
        """
        return 'negative'
    return 'nonnegative'

In [105]:
f(-1)

'negative'

In [107]:
?f # return the docstring
??f #return the source function

In [108]:
# one line function
f = lambda x: x**3

In [109]:
f(3)

27

In [110]:
from scipy.integrate import quad
quad(lambda x: x**3,0,2) # lambda x:x.... is a easy way to write function without saving it.

(4.0, 4.440892098500626e-14)

In [113]:
x_list=(1,3,4)
y_list=(2,3,5)
sol=0
for i,j in zip(x_list,y_list):
    sol += i*j
sol

31

In [114]:
print(x for x in range(10))

<generator object <genexpr> at 0x7f8468291900>

In [116]:
count=0
for i in range(100):
    count+=(1-i%2)
count

50

In [117]:
sum([x%2==0 for x in range(100)]) # one line for loop in [], since for loop create a list

50

In [159]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
count=0
for x,y in pairs:
    count=count + 1 if x%2==0 and y%2==0 else count

In [170]:
# why and is different from &
False & True
True & False
False & False
True & True 
2%2==0 & 9%2==0

True

In [160]:
count

2

In [137]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
sum([x % 2 == 0 and y % 2 == 0 for x, y in pairs])

2

In [173]:
# Exercise 5.1
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
count=0
for x,y in pairs:
    print(str(x)+str(y)) if x%2==0 & y%2==0 else print("")
    print(str(x)+str(y)) if x%2==0 and y%2==0 else print("")

25

42
42


1210
1210

In [ ]:
# Exercise 5.1 
sum([i for i in range(10) if i>5 ]) # for loop and if condition in one line is note allow for else
# sum([i for i in range(10) if i>5 else 0]) # does not works

In [ ]:
# distinguish the order
sum(i>5 for i in range(10)) # return 4 since 6,7,8,9 > 5, 4 numbers
sum(i for i in range(10) if i>5) # since 6+7+8+9 = 30

In [8]:
# Exercise 5.2
def poly_fun(x,coef):
    res=0
    for index,value in enumerate(coef): # enumerate is a tuple with index and value.
        res+=value*x**index
    return res
poly_fun(1,[1,2,3,4,5,6,7,8,9,10])

55

In [10]:
1 if 41 else 0

1

In [30]:
# Exercise 5.3
def num_upp(x):
    count=0
    for i,j in zip(x,x.upper()):
        count = count + (1 if i==j else 0)
    return count
num_upp("sogVkdVJDH")
# or 
def num_uppp(x):
    return sum(i==j for i,j in zip(x,x.upper()))
num_uppp("lskLKJFlsjfLLK")

7

In [49]:
# Exercise 5.4 use set() can transform list,tuple,string to a set
def is_subset(x,y):
    x=set(x)
    y=set(y)
    return x.issubset(y)
# or 
def is_subsett(x,y):
    return sum(i in y for i in x)==len(x)

In [97]:
# Exercise 5.5 
def personal_inte(f,a,b,n):
    point_list = list(np.linspace(a,b,n))
    res = sum(f((point_list[i]+point_list[i+1])/2)*(point_list[i+1]-point_list[i]) for i,value in enumerate(point_list) if i<len(point_list)-1)
    return res
personal_inte(lambda x: x**2,0,2,100)

2.666598646396626

In [98]:
# Exercise 5.6
n=100
ϵ_values = np.empty(n)
ϵ_values = np.random.randn(n)

In [99]:
ϵ_values

array([-0.55180901,  0.94225305,  0.05606763,  1.72989614, -0.49641168,
       -1.93774895,  0.32864163, -0.95065178, -1.42409923,  0.46024599,
       -1.28563164,  0.79953443,  0.30564377,  2.25816137,  0.14111426,
        0.84974794,  0.27995054,  0.03905381,  0.56232067,  1.12690903,
        0.60887651,  0.1353143 ,  0.15196527,  1.00763091,  0.68464567,
       -0.26805995,  0.23402699, -0.83403623,  0.63479923,  1.13884915,
        0.22801763, -0.42130429, -1.62350136, -0.07830297, -0.78462347,
       -0.63420113, -0.52431055,  0.79187368, -0.44150733, -0.38651947,
        0.2976497 ,  0.27008688,  1.22684452,  0.359315  ,  2.22398928,
       -0.62203339,  0.38176361,  0.17859387,  0.9736534 , -0.6988018 ,
       -0.33831216,  1.89215352, -0.21256302,  0.13409503,  0.84654364,
       -0.56451277,  0.51620355,  0.11243125, -0.07458996,  1.31032684,
        1.06989874, -0.62756678, -1.82445804,  1.15028836,  0.25390062,
        0.55401963, -1.1446718 ,  0.02376272, -0.14064425,  0.58286558,
        1.0515832 , -2.07448532, -0.18254867,  0.5369875 ,  1.01848647,
        0.62399908,  1.24527638,  0.76552009,  0.47566706, -0.070403  ,
        0.30466778, -1.21798897,  1.34809783, -1.5725123 , -0.4921935 ,
        0.83291541,  1.67497493,  0.31388076, -0.10517498, -0.38357857,
        0.31669991, -0.66466269, -1.03457436,  0.44554498,  0.85362519,
        0.82928236,  0.35985703, -0.90925649, -1.82572955,  1.52753711])